@model ProductListViewModel
<div class="row">
    @foreach (var product in Model.Products)
    {

  
          
        <div class="col-md-4">
            <div class="box">
                <i class="fa fa-bolt fa-fw bg-primary"></i>
                <div class="info">
                    <h3>@product.Category.CategoryName</h3> <span>Cena</span>
                    <h4>@product.Name</h4><span>@product.Price.ToString("C")</span>
                    <p>@product.Description</p>
                    <p >@product.IsInStock</p>
                </div>
            </div>
        </div>
             
                
   
    }
</div>